@import "../../assets/styles/variables";

.sidenav {
  padding: 10px;
  width: 17.5%;
  height: 100%;
  background-color: $sidenav-background;
  display: flex;
  flex-direction: column;

  &__top {
      flex: 1;
    h5 {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    &__show-more {
      color: #bf94ff;
      cursor: pointer;
    }
  }

  &__bottom{
      position: fixed;
      bottom: 0;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #4f4f52;

      &__container{
          background-color: #4f4f52;
          width: 90%;
          display: flex;
          height: 2.5rem;
          border-radius: 8px;
          align-items: center;
          padding-left: 10px;
          padding-right: 5px;

          &__input{
            background: transparent;
            border: none;
            outline: none;
            font-size: large;
            width: 100%;
            margin-left: 10px;
          }
      }
  }
}
