@import "../../assets/styles/variables";

.nav{
    height: 5rem;
    border-bottom: 1px solid $color-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $nav-background;
    z-index: 100;
    position: sticky;
    top: 0;

    &__left{
        display: flex;
        align-items: center;
        flex: 1;

        &__logo{
            object-fit: contain;
            height: 3rem;
            margin: 0 10px 0 20px;
        }
        &__text{
            margin: 15px;
        }
        // &__line{
        //     border-left: 1px solid $line-color;
        //     height: 3rem;
        // }
        &__icon{
            margin-left: 15px;
            font-size: 1.5rem;
        }
    }

    &__center{
        background-color: $line-color;
        height: 3.5rem;
        display: flex;
        width: 25%;
        border-radius: 8px;
        overflow: hidden;
        align-items: center;

        &__input{
            outline: none;
            background-color: transparent;
            flex: 1;
            margin-left: 15px;
            font-size: large;
            border: none;
        }
        
        &__container{
            background-color: #2b2b2d;
            width: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

        &__right{
            display: flex;
            flex: 1;
            justify-content: flex-end;

            &__container{
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__icon{
                    margin: 20px;
                    font-size: 1.5rem;
                }

                div{
                    margin: 20px;
                }
    
                &__bits{
                    display: flex;
                    align-items: center;
                    background-color: $line-color;
                    height: 3.5rem;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-radius: 15px;
    
                    &__icon{
                        margin-right: 5px;
                    }
                }
            }
        }
    }

